/** @format */
body {
  background-color: #f9f7fe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36;
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-weight: 800;
  font-size: 36;
  line-height: 1.5;
  color: darkred;
}

a {
  color: #885df1;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: white;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: grey;
}

.button {
  margin-left: 10px;
  color: white;
  background-color: darkred;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.wod {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
